<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html{
            box-sizing: border-box;
        }
        *,*::after,*::before{
            box-sizing: inherit;
        }
        nav{
            background:rgb(170, 137, 201);
            display: flex;
            justify-content: space-between;
        }
        nav span a{
            text-decoration: none;
            padding: inherit;
            font-size: 20px;
            color: black;
        }
        nav span a:hover{
            background: steelblue;
        }
        .btn{
            width: 100px;
            height: inherit;
            border: none;
            padding: 20px;
            background:rgb(170, 137, 201);
            color: white;
        }
        .btn:hover {
            background-color: #555555;
            color: white;
        }
        .container a{
            text-decoration: none;
        }
        .container a:hover{
            background-color: rgb(143, 97, 97);
            color: white;
        }
    </style>
     <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
<body>
    <nav>
        <h1>DBMS Project</h1>
        <form action="/verify/logout" method="POST" id="logoutform">
        </form>
         <button class="btn" type="submit" form="logoutform">Log Out</button>
    </nav>
    <div class="container">
        {{#if username}}
            <h3>Welcome {{username}}!<br>ID: {{userid}}<br>Email: {{email}}</h3>
            <form action="/verify/insert" method="POST" id="insertform">
            <input type="hidden" name="uid" value={{userid}}>
            <button type="submit" form="insertform">Insert New Blog</button>
            </form>
            <form action="/verify/list" method="POST" id="listform">
            <input type="hidden" name="usid" value={{userid}}>
            <button type="submit" form="listform">List Blog</button>
            </form>
        {{else}}
            <h3>Please Login: <a href="/login">Login</a></h3>
            <h3>Return To Home Page: <a href="/">Home</a></h3>
        {{/if}}
    </div>
<button onclick="goBack()">Go Back</button>
</body>
<footer>
    All Rights Reserved&copy; 2021
</footer>
</html>